<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body{
            background: black;
            color: green;
        }
        div.container{
            max-width: 500px;
            margin: 100px auto;
            border:  20px solid white;
            padding: 10px;
            text-align: center;
        }
        h4{
            text-transform: uppercase;
        }
    </style>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <div class="container">
        <h4>Welcome to the app running on the Python Flask. </br> Automated with K8s,Docker, Jenkins pipelines.</h4>
    </div>
</body>
</html>